$base-font-name     : 'Open Sans', sans-serif;

$base-font-size     : 14px;

$white              : #ffffff;
$black              : #000000;
$black-light        : #222222;
$black-lighter      : #333333;
$gray               : #d4d4d4;
$gray-dark          : #acacac;
$gray-light         : #dddddd;
$gray-lighter       : #e4e4e4;

//$red                : #e14340;
$theme-color        : #82b440;
$turquoise-color    : #4695ad;

